<div class=" app-card search-row-wrapper">
    <mat-card>
        <div class="card-title" style="margin-left:40% ;
    font-size: 29px;
    font-weight: bolder;">
            {{'Send SMS Message' | translate}}
        </div>

        <div class="card-content p-2">
            <div class="form-group">
                <mat-form-field class="full-wid">
                    <input matInput [placeholder]="'Please enter a phone number' | translate"
                        [(ngModel)]="artistNumbers">
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="full-wid">
                    <input matInput [placeholder]="'Message content' | translate" maxlength="400"
                        [(ngModel)]="messageArtist">
                </mat-form-field>
                <p>{{'Characters left' | translate}} {{getCharacterCount()}}</p>
            </div>


            ---------------------or---------------------


            <div class="form-group">
                <mat-form-field class="full-wid">
                    <mat-select [placeholder]="'Select Template Text' | translate" [(ngModel)]="template"
                        (ngModelChange)="changeTemplate(template)">
                        <mat-option *ngFor="let template of templateArray" [value]="template">{{template | translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <button class="btn btn-primary mat-raised-button mat-button-base mat-primary"
                (click)="sendSMS()">{{'send' | translate}}</button>

        </div>
    </mat-card>
</div>