<button class=" buttonClose" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
</button>
<div class="grid-wrapper parentDiv form-validation-wrapper ">
    <div class=" app-card search-row-wrapper" style="position: relative;">

        <mat-card>
            <h1 mat-dialog-title *ngIf="data">{{'Update an audition type' | translate}}</h1>
            <h1 mat-dialog-title *ngIf="!data">{{'Add an audition type' | translate}} </h1>
            <div class="card-content-content">

                <div class="form-group">
                    <mat-form-field class="">
                        <input matInput [formControl]="name" [placeholder]="'Name' | translate" autocomplete="name">
                    </mat-form-field>
                    <mat-form-field class="">
                        <mat-select [placeholder]="'Category Name' | translate" [formControl]="category">
                            <mat-option *ngFor="let option of categoryOptions" [value]="option">
                                {{option | translate | titlecase}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <button *ngIf="data" class="btn btn-primary mat-raised-button mat-button-base mat-primary ml-2"
                    (click)="EditAuditionType()">{{'Update' | translate}}</button>
                <button mat-button [mat-dialog-close] style="background-color:#dddddd;"
                    class="btn ml-3">{{'Cancel' | translate}}</button>

                <button *ngIf="!data" class="btn btn-primary mat-raised-button mat-button-base mat-primary ml-2"
                    (click)="addNewAuditiontype()">{{'Add' | translate}}</button>
            </div>
        </mat-card>
    </div>
</div>