<div class="app-card-title mb-4">
	<anglo-title-component title="Send SMS"></anglo-title-component>
</div>
<div class="app-card standard-table-wrapper">
   <mat-card>
         <mat-form-field class="full-wid">
         <input matInput placeholder="
         Please enter a phone number" type="number" >
      </mat-form-field>
         <mat-form-field class="full-wid">
               <textarea matInput placeholder="
               Message content" ></textarea>
               </mat-form-field>


               
-------------------------or--------------------------
<!-- <mat-form-field class="full-wid">
		<mat-select placeholder="
      Select an impressive text">
		<mat-option value="1"> Select an impressive text</mat-option>
		<mat-option value="2">
            Hey now the site is waiting for you, you can log in within the next few hours to submit your request to the cast.</mat-option>
		<mat-option value="3">
            Hi reminder about audition, email or website details.</mat-option>
		<mat-option value="4">
            Hi there is a new workshop from Shelash, website details</mat-option>
		<mat-option value="5">
            A call for a new audition was received, details on the three-site link [link].</mat-option>
		<mat-option value="6">
            At your request, details of a new workshop in Shas.</mat-option>
		
		</mat-select>
		</mat-form-field> -->
   </mat-card>
</div> 

