<mat-card>
    <p style="background: red;">Manager Mode</p>
    <h4><b>Audition | Project | Budgeted | Closing 10.12 10:01 AM</b></h4>
    <div style="margin-top: 20px;">
        Project - Budgeted<br>
        Budget - Regular<br>
        Referral Type - Entering<br>
        Audition Date - 17/12/2019<br>
        Rehearsal Date - 30/12/2019<br><br>
        The touching project is looking for great actors for complex characters
    </div>

    <div>
        <div style="background: lightblue; padding: 5px;">
            <span style="float: right;"><b>Remove</b><mat-icon>close</mat-icon></span>
            <h4><b>The Doctor | 30 - 38 | Regular</b></h4>
            <p><b>Character Description</b> - smiling and charming, the first moment he feels very pleasant person to
                spend
                with</p>
            <p><b>comments</b> - budgeted</p>
        </div>
    </div>
</mat-card>